body{
    font-family: "Plus Jakarta Sans", sans-serif !important;

}

/* navbar */

.navbar{
    height: 5rem;
    background-color: white;
}

/* footer */

.fa-solid{
    color : #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;

}

.f-info-links a:hover{

    text-decoration: underline;
}

.f-info{
    height: 8rem;
    text-align: center;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}

.f-info-links{
    width: 100%;
    
}

.f-info-socials{
    width: 100%;
    font-size: 1.2 rem;
    margin-right: 2 rem;
}

.f-info-socials i {
    margin-right: 0.8rem;
}

/* cards */
.card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover;
}

.card-body{
    padding: 0%;
}

.card-text p {
    font-weight: 400;
}


/* card effect */
.overlay{
    opacity: 2;
} 
.overlay:hover{
    opacity: 0.6;
    background-color: white;
}