/* body{
    background-color: rgb(223, 240, 240);

} */

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-solid{
    color : #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}